system {
    time-zone {{ time_zone }};
    name-server {
{% for name_server in name_servers %}
        {{ name_server }};
{% endfor %}
    }
    login {
        message "{{ login_message }} ";
    }
    ntp {
{% for ntp_server in ntp_servers %}
        server {{ ntp_server }};
{% endfor %}
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
snmp {
    location "{{ snmp.location }}";
    contact "{{ snmp.contact }}";
}
protocols {
    lldp {
        interface all;
    }
}
